<section class="bg-brand-background py-section text-center text-brand-text font-sans">
  <h2 class="text-3xl font-bold mb-6">{{ 'location_title' | translate }}</h2>
  <p class="text-lg mb-8 text-brand-muted">{{ 'location_description' | translate }}</p>
  <div class="max-w-4xl mx-auto rounded-xl overflow-hidden shadow-md">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3162.9450413836443!2d-4.779241!3d37.883673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6cdf2e451d8eb5%3A0x59c7371176e3d51c!2sEstaci%C3%B3n%20de%20Autobuses%20de%20C%C3%B3rdoba!5e0!3m2!1ses!2ses!4v1715942074890!5m2!1ses!2ses"
      width="100%"
      height="400"
      style="border: 0;"
      allowfullscreen
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
</section>
