.language-switcher {
  @apply inline-flex;
  min-width: 6rem;
}

.language-switcher-label {
  @apply flex-1 text-left;
}

.language-option-label {
  @apply text-sm font-semibold;
}

.language-option {
  letter-spacing: 0.08em;
  text-transform: none;
}
